@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);


body
{
  background: url('spacebackground.jpg');}

#seat_row
{
background-color: grey;}

#seat_row :hover
{background-color: red;}

.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}


.subheader
{
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: #fff;
  text-transform:uppercase;
}

body
{
  background: url('http://i.imgur.com/Wxe5F5x.jpg') no-repeat center center fixed;
  /*background: url('http://i.imgur.com/Hx0mb18.jpg') no-repeat center center fixed;*/

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  // font-style: italic;
  font-size: 14px;
  border: 0px;
  color: #fff;
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
/*  transition:rotate 2s;
  -webkit-transform:rotate(-2deg);
-moz-transform:rotate(-180deg);
-webkit-transform:rotate(-180deg);
-o-transform:rotate(-180deg);*/
}

table
{
  background: transparent;
  border: 0px;
}

select
{background: transparent;
width: 80px;
border: 0px solid;
white-space: pre;
color: white;
cursor: default;
}



.button.tiny.radius
{
  background: rgba(255, 255, 255, .9);
  border: 0px;
  border-radius: 0px;
  color: #222;
  text-transform: capitalize;
}


.subheader
{
  color: rgba(0,0,0, .5);
}

.social
{
  display: inline-block;
}

h6.subheader
{
  font-weight: 400;
  font-size: 12px;
}